$nav_height:75px;
$grey_font:rgb(128,128,128);

@mixin transform($property){
  -moz-transform: $property;
  -webkit-transform: $property;
  transform:$property;
}
@mixin transition($speed){
  -moz-transition: -moz-transform $speed;
  -webkit-transition: -webkit-transform $speed;
  transition: transform $speed;
}

@mixin circle-style($border_color,$icon_color,$dimension,$top_margin){
  position: relative;
  border:1.5px solid $border_color;
  width:$dimension;
  height:$dimension;
  border-radius:90px;
  color:$border_color;
  display: inline-block;
  text-align: center;
  padding:2px;
  i{
    color:$icon_color;
    font-size:$dimension/2;
    vertical-align: middle;
    margin-top:$top_margin;
  }
}

@mixin circle-expand($size,$speed){
  @include transform(scale($size));
  @include transition($speed);
}



html{
  background-color:rgb(20,20,20);
}

header{
  height:$nav_height;
  width:100vw;
  background-color:rgb(51,51,51);
  color:#fff;
  .pull-left{
    height:$nav_height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:350px;
    #browse{
      color:rgb(229,9,20);
    }
  }
  .pull-right{
    height:$nav_height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:150px;
  }
  .wrapper{
    position: fixed;
    width:100vw;
    height:$nav_height;
    z-index: 2;
    background-color:rgba(0,0,0,.7);
  }
}
.main-logo{
  img{
    width:12em;
  }
}
$top_img_height:40vw;
.top-preview{
  height:$top_img_height;
  width:100vw;
  position: relative;
  // opacity:0;
  .top-overlay{
    .mov-title{
      font-size: 3.5vw;
    }
    .mov-subtitle{
      font-size:1.25vw;
      padding-bottom:1vh;
    }
    .next-up{
      font-size:1.5vw;
    }
    p{
      font-size:1.25vw;
    }
    .season{
      color:#fff;
      margin-right:1vw;
    }
    .mov-title,.next-up{
      color:#fff;
    }
    .series-desc{
      margin-bottom:1vw;
      i{
        font-size:2.5vw;
      }
      div{
        display:inline-block;
        width:75%;
        margin-left:1vw;
        font-size:1vw;
      }
    }
    .movie-top-buttons{
      color:#fff;
      font-size:1vw;
      display: inline-block;
      >div{
        margin-right:.5vw;
      }
      .circle{
        @include circle-style($grey_font,#fff,3.25vw,25%);
        cursor: pointer;
        &:hover{
          @include circle-expand(1.15,.75s);
          border-color: #fff;
        }
      }
      .my-list{
        display:inline-block;
        vertical-align: middle;
        margin-top:7px;
      }
    }
    $expand_speed:.5s;
    .play-window{
      height:$top_img_height;
      justify-content: space-around;
      display: flex;
      align-items: center;
      .circle{
        @include circle-style(#fff,#fff,8vw,25%);
        cursor: pointer;
        align-items: center;
        &:hover{
          background-color:rgba(34,34,34,.5);
          @include circle-expand(1.1,$expand_speed);
          i{
            color:red;
          }
        }
      }
    }
    >div{
      padding-left:0px;
    }
    color:$grey_font;
    z-index: 1;
    height:$top_img_height;
    position: absolute;
    top:0px;
    width:100%;
  }
  .img-overlay{
    height:$top_img_height;
    position: absolute;
    top:0px;
    width:100%;
    background-color: #000;
    background:-webkit-linear-gradient(to right, #000 0%, rgba(27,27,27,0) 30%);
    background:-o-linear-gradient(to right, #000 0%, rgba(27,27,27,0) 30%);
    background:linear-gradient(to right, #000 0%, rgba(27,27,27,0) 30%);
  }
  .top-img-blur{
    height:$top_img_height;
    background-color:#000;
  }
  .top-img{
    height:$top_img_height;
    background-image:url('./top-img2.webp');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left:0px;
  }
  .bottom-button-bar{
    position: absolute;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    height:6vw;
    bottom:0px;
    background:-webkit-linear-gradient(to top, #000 -50%, rgba(27,27,27,0) 100%);
    background:-o-linear-gradient(to top, #000 -50%, rgba(27,27,27,0) 100%);
    background:linear-gradient(to top, #000 -50%, rgba(27,27,27,0) 100%);
    bottom:0px;
    .buttons{
      display:flex;
      flex-direction: row;
      .button{
        font-family:'Helvetica Neue', Helvetica,Arial,sans-serif;
        padding: 2.5vw 0vw;
        color:rgb(204,204,204);
        letter-spacing: .15em;
        font-size:1vw;
        margin-right:3vw;
        cursor:pointer;
        z-index: 1;
        &:hover{
          color:#fff;
          border-bottom:.75vw solid rgb(229,9,20);
        }
      }
    }
  }
}

$width:100vw/5.5;
$height:$width/1.75;

.main-area{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:50vh;
  .movie-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width:100vw;
    height:15vw;
    background-color:grey;
    @media(max-width:1100px){
      height:20vw;
    }
    @media(max-width:800px){
      height:25vw;
    }
    $slider_spd:.25s;
    .movie-slider{
      height:75%;
      width:100%;
      margin-top:3vw;
      background-color:rgba(0,0,0,.5);
      overflow-x: visible;
      overflow-y:visible;
      @include transition($slider_spd);
      transition-delay:0s;
      .movie-glimpse{
        display: inline-block;
        height:$height;
        width:$width;
        position: relative;
        background-color:tomato;
        @include transition($slider_spd);
        // transition-delay:0s;
        .glimpse{
          height:100%;
          width:100%;
          background-color:tomato;
          @include transition($slider_spd);
        }
        .movie-elapsed{
          background-color:blue;
        }
      }
    }
  }
}
// $big_scale:1.5;
// $big_horiz:$big_scale*4;
$big_scale:1.75;
$big_horiz:$big_scale*2.65;
.big{
  @include transform(scale($big_scale));
}
.go_left{
  @include transform(translateX(-($width*$big_scale)/$big_horiz));
}
.go_right{
  @include transform(translateX(($width*$big_scale)/$big_horiz));
}
.wrapper{
  padding:0px 3.75vw;
}
